beautifulsoup4
chromadb
fastapi
google-genai
google-generativeai
jsonlines
langchain
langchain-google-genai
langgraph
lxml
nest-asyncio
openpyxl
pandas
playwright
pypdf
python-dotenv
rank-bm25
requests
sentence-transformers
tqdm
uvicorn
